<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../multimedia/branding/isotype.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Create</title>
  </head>

  <body>
    <!-- HEADER -->
    <%- include("../../partials/admin/header-admin.ejs") %>

    <section class="admin">
      <form
        class="form-create"
        action="create"
        method="post"
        enctype="multipart/form-data"
      >
        <h2 class="title-create">CREAR NUEVO ITEM</h2>
        <% if (typeof errors != 'undefined') { %>
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        <div class="div-form">
          <!-- CATEGORIAS -->
          <label for="categoria"
            >Categoria:
            <select name="CategoryId" id="CategoryId">
              <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>" >
                <%= categoria.category_name %>
              </option>
              <% }) %>
            </select>
              </label>

              <!-- LICENCIAS -->
              <label for="licencia"
                >Licencia:
                <select name="LicenceId" id="LicenceId">
                  <option value=""></option>
                  <% licencias.forEach(licencia => { %>
                  <option value="<%= licencia.id %>">
                    <%= licencia.licence_name %>
                  </option>
                  <% }) %>
                </select>
              </label>

              
        </div>
        <div class="div-form">
          <!-- NOMBRES -->
          <label for="nombre">Nombre del producto:</label>
          <input
            type="text"
            placeholder="NOMBRE DEL PRODUCTO"
            id="nombre"
            name="product_name"
            value="<%= typeof values != 'undefined' ? values.product_name : ''%>"
          />
        </div>
        <!-- DESC -->
        <input
          name="product_description"
          id="descripcion"
          cols="30"
          rows="10"
          placeholder="Descripcion del producto"
          value="<%= typeof values != 'undefined' ? values.product_description : ''%>"
        ></input>

        <div class="div-form2">
          <!-- SKU -->
          <label for="sku"
            >SKU:
            <input
              type="text"
              id="sku"
              placeholder="SKU"
              name="product_sku"
              value="<%= typeof values != 'undefined' ? values.product_sku : ''%>"
          /></label>

          <!-- STOCK -->
          <label for="stock"
            >Stock:
            <input
              type="number"
              id="stock"
              placeholder="STOCK"
              class="input-stock"
              name="dues"
              value="<%= typeof values != 'undefined' ? values.dues : ''%>"
          /></label>

          <!-- PRECIO -->
          <label for="precio"
            >Precio:
            <input
              type="number"
              id="precio"
              placeholder="PRECIO"
              class="input-precio"
              name="product_price"
              value="<%= typeof values != 'undefined' ? values.product_price : ''%>"
          /></label>

          <!-- DESCUENTO -->
      
        </div>
        <!-- imgs -->
          <label for="imagenes">Imagen</label>
          <input type="file" id="img_front" name="img_front" accept="image/webp" />
       
        <div class="botones">
          <button type="submit">Agreagr producto</button>
          <button type="reset">Limpiar</button>
        </div>
      </form>
    </section>

    <!-- FOOTER -->
    <%- include("../../partials/admin/footer-admin.ejs") %>

    <script src="../js/admin.js"></script>
  </body>
</html>
