<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon" />

    <link rel="stylesheet" href="/css/styles.css" />
    <title>Shop</title>
</head>

<body>
    <!-- HEADER -->

    <%- include("../partials/header") %>

        <section class="product_list">
            
            <aside class="filtros">
                <div class="buscar">
                    <label for="buscar">BUSCAR</label>
                    <input type="text" id="buscar" placeholder="Item o categoria" />
                </div>
                <div class="ordenar">
                    <label for="ordenar">ORDENAR POR</label>
                    <input type="text" id="ordenar" placeholder="Mayor a menor" />
                </div>
                <div class="precio_filtro">
                    <span>PRECIO</span>
                    <div>
                        <label for="min">MIN</label>
                        <input type="text" id="min" value="0" />
                        <label for="max">MAX</label>
                        <input type="text" id="max" value="0" />
                    </div>
                </div>

                <div class="filtros_check">
                    <span>FLTRAR</span>
                    <ul>
                        <li>
                            <input type="checkbox" name="nuevos" id="nuevos" />
                            <label for="nuevos">NUEVOS</label>
                        </li>
                        <li>
                            <input type="checkbox" name="ofertas" id="ofertas" />
                            <label for="ofertas">OFERTAS</label>
                        </li>
                        <li>
                            <input type="checkbox" name="edicion especial" id="edicion_especial" />
                            <label for="edicion_especial">EDICION ESPECIAL</label>
                        </li>
                        <li>
                            <input type="checkbox" name="favoritos" id="favoritos" />
                            <label for="favoritos">FAVORITOS</label>
                        </li>
                    </ul>
                </div>
            </aside>
            
            <section class="prod_list_section" id="prod_list">
                
                <% items.map((item)=> { %>
                    <a class="card" href="/shop/item/<%= item.product_id %>">
                        <img src="../multimedia/uploads/producto_<%= item.product_id %>.webp" alt="<%= item.product_name %>" class="card_img">
                        <h4 class="card_cat">
                            <%= item.licence_name %>
                        </h4>
                        <h3 class="card_name">
                            <%= item.product_name %>
                        </h3>
                  
                        <span class="card_price">
                            <%= item.product_price %>
                        </span>
                        <p class="card_cuotas">3 CUOTAS SIN INTERES</p>
                        <p class="nuevo">NUEVO</p>
                    </a>
                    <% }) %>

            </section>
        </section>

        <div class="pagination">
            <img src="../multimedia/icons/angle-down.svg" alt="left" class="left" />
            <span>1</span>
            <span>2</span>
            <span>...</span>
            <span>9</span>
            <span>10</span>
            <img src="../multimedia/icons/angle-down.svg" alt="rigth" class="rigth" />
        </div>

        <!-- FOOTER -->
        <%- include("../partials/footer") %>
        <script src="/js/app.js"></script>
</body>

</html>