<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Product Page</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("../partials/header") %>

        <!-- PRODUCTO -->
        <article class="product_article">
            <img src="/multimedia/uploads/producto_<%= item.product_id %>.webp" alt="<%= item.product_name %>">

            <aside class="product_info">
              <p><%= item.Category.category_name %></p>
                <h3><%= item.product_name %></h3>
                <span class="prod_desc"><%= item.product_description %></span>
                <p class="product_price">$<%= item.product_price %></p>
                <p class="prod_desc"><%= item.dues %> Unidades En Stock</p>
                <div class="prod_cant">
                    <div class="item_cant">
                        <span class="item_cant_span">2</span>
                        <div class="cant_div">
                            <p>+</p>
                            <p>-</p>
                        </div>
                    </div>
                    <button>AGREGAR AL CARRITO</button>
                </div>
                <p class="product_cuotas">Ver métodos de pago - 3 CUOTAS SIN INTERÉS</p>
            </aside>

        </article>

        <!-- NOVEDADES -->
     
        <!-- FOOTER -->
        <%- include("../partials/footer") %>
</body>

</html>