<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>EDITAR</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("../partials/admin/header-admin.ejs") %>

        <section class="admin">
            <% if (typeof errors !="undefined" ) { %>
                <ul class="errors">
                    <p class="title-errors">Errores</p>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
            <form class="form-create" 
                 action="/admin/<%= values.product_id %>?_method=PUT"
                 method="post"
                enctype="multipart/form-data">

                <h2 class="title-create">EDITAR PRODUCTO</h2>
                
                <div class="div-form">
                    <!-- CATEGORIAS -->
                    <label for="categoria">Categoria: <input type="text" name="category_name" id="categoria"
                            placeholder="CATEGORIA" class="select-categoria"  value="<%= typeof values != 'undefined' ? values.category_name : '' %>">

                        </input></label>

                    <!-- LICENCIAS -->
                    <label for="licencia">Licencia: <input type="text" name="licence_name"
                        value="<%= typeof values != 'undefined' ? values.licence_name : '' %>">

                    </label>

                </div>
                <div class="div-form">
                    <!-- NOMBRES -->
                    <label for="nombre">Nombre del producto:</label>
                    <input type="text" placeholder="NOMBRE DEL PRODUCTO" id="nombre" name="product_name"
                    value="<%= typeof values != 'undefined' ? values.product_name : '' %>">
                </div>
                <!-- DESCRIPCION -->
                <input type="text" name="product_description" id="descripcion" cols="30" rows="10"
                    placeholder="Descripcion del producto"  value="<%= typeof values != 'undefined' ? values.product_description : '' %>"></input>

                <div class="div-form2">
                    <!-- SKU -->
                    <label for="sku">SKU: <input type="text" id="sku" placeholder="SKU" class="input-sku"
                            name="product_sku" value="<%= typeof values != 'undefined' ? values.product_sku : '' %>" /></label>

                    <!-- STOCK -->
                    <label for="stock">Stock: <input type="number" id="stock" placeholder="STOCK" class="input-stock"
                            name="dues" value="<%= typeof values != 'undefined' ? values.dues : '' %>" /></label>

                    <!-- PRECIO -->
                    <label for="precio">Precio: <input type="number" id="precio" placeholder="PRECIO"
                            class="input-precio" name="product_price" value="<%= typeof values != 'undefined' ? values.product_price : '' %>" /></label>
                </div>
                <!-- imgs -->
                <label for="imagenes">Imagen</label>
                <input type="file" id="img_front" name="img_front" accept="image/webp" />
                <img src="/multimedia/uploads/producto_<%= values.product_id %>.webp" alt="<%= values.product_name %> ">
                </div>
                <div class="botones">
                    <button type="submit">Actualizar producto</button>
                    <button type="reset">Limpiar</button>
                </div>
            </form>


          
        </section>

        <!-- FOOTER -->
        <%- include("../partials/admin/footer-admin.ejs") %>

</body>

</html>