<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../multimedia/branding/isotype.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Admin categorias</title>
  </head>

  <body>
    <!-- HEADER -->
    <%- include("../../partials/admin/header-admin.ejs") %>
    <section class="admin">
      <div class="search">
        <input
          type="text"
          placeholder="codigo, nombre o categoria"
          id="search"
        />
      </div>
      <div class="title">
        <h2>LISTADO DE CATEGORIAS</h2>
        <div>
          <h3>AGREGAR</h3>
          <a href="/admin/categorias/create" class="btn_create">+</a>
        </div>
      </div>

      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Categoria</th>
            <th class="text-left">Descripcion</th>
            <th class="text-left">Editar</th>
          </tr>
        </thead>
        <tbody class="table-hover" id="table-body">
          <% categorias.map((categoria)=>{%>
          <tr>
            <td class="text-left"><%= categoria.id %></td>
            <td class="text-left"><%= categoria.category_name %></td>
            <td class="text-left"><%= categoria.category_description %></td>
            <td class="text-left">
              <a
                class="btn_edit"
                href="/admin/categorias/edit/<%= categoria.id %>"
                >Editar</a
              >
            </td>
            <td class="text-left">
              <form
                action="/admin/categorias/delete/<%= categoria.id %>?_method=DELETE"
                method="POST"
                class="form_delete"
              >
                <button type="submit" class="btn_delete">Eliminar</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>

    <!-- FOOTER -->
    <%- include("../../partials/admin/footer-admin.ejs") %>

    <script>
      document.addEventListener("submit", (e) => {
        if (e.target.classList.contains("form_delete")) {
          e.preventDefault();

          if (confirm("¿Estas seguro de eliminar esta categoria?")) {
            e.target.submit();
          }
        }
      });
    </script>
  </body>
</html>
