<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>EDITAR</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("../../partials/admin/header-admin.ejs") %>

        <section class="admin">
            <% if (typeof errors !="undefined" ) { %>
                <ul class="errors">
                    <p class="title-errors">Errores</p>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <form class="form-create" action="/admin/categorias/<%= values.id %>?_method=PUT" method="post">

                        <h2 class="title-create">EDITAR CATEGORIA</h2>

                        <!-- CATEGORIAS -->
                        <label for="categoria">Categoria:
                            <input type="text" name="category_name" id="categoria" 
                                class="select-categoria"
                                value="<%= typeof values != 'undefined' ? values.category_name : '' %>">
                            </input>
                        </label>
                        <label for="category_description">
                            Descripción:
                            <input type="text" name="category_description" id="category_description"
                                value="<%= typeof values != 'undefined' ? values.category_description : '' %>">
                        </label>


                        <div class="botones">
                            <button type="submit">Actualizar categoria</button>
                            <button type="reset">Limpiar</button>
                        </div>
                    </form>



        </section>

        <!-- FOOTER -->
        <%- include("../../partials/admin/footer-admin.ejs") %>

</body>

</html>